html { min-width: 1000px;
        
 }
body{
 font-family: 'Raleway', sans-serif;
    height: 100%;
}
.home_page_divs{
    margin-bottom: 50px;
}
.blank_width{
    width: 100px;
}
.home_page{

    margin-bottom: 100%;
}
.landing{
    background-color: white;
    padding: 10%;
    margin-top: -7%;
    margin-bottom: 10%;
}
#square_photo{
    max-width: 70px;
}
.btn{
    height: 40px;
}
.thubmnails{
    width: 235px;
    height: 235px;
}
.max{
    max-width: 150px;
    margin-top: 30px;
    margin-right: 20px;
} 
#gallery_photos{
    margin-top: 60px;
}

.no_background{
    background-color: black;
}
.textarea_button{
    margin-top: 0.5%
}
.achevment-img{
  position: relative; 
 opacity: 0.6;
    
}
.achevment-text{
    position: absolute;
    color: white;
   text-align: center;
    margin-top: -12%;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
}
#buttons{
    display: none;
}
.btn{
    outline:  none;
}
#edit_button{
    opacity: 0.7;   
}

#links{
     color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.page{
    padding-bottom: 20%;
    padding-top: 15%;
}
.footer{
    background-color: #;
    bottom:  0%;
    padding: 1%;
    padding-top: 15%;
 

}
.login{
    margin-top: 6%;
}
.avatar{
    height: 150px;
    width: 150px;
    border-radius: 100%;
  
}

.white_text{
    color:  white;
     font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; 
}
textarea{
    resize: none;
    outline: none;
}
.name{
    margin-bottom: 90px;
}
.header{


        padding-top: 25%;
        padding-bottom: 2%;
        margin-bottom: 5%;
        margin-top: -3%;
        left:     0;
        right:     0;
        top:      0;
        opacity: 0.7;
}

.image-editor {
   text-align: center;
}

.cropit-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 5px solid #ccc;
  border-radius: 3px;
  margin-top: 7px;
  width: 250px;
  height: 250px;
   display: inline-block;
}

.cropit-preview-image-container {
  cursor: move;
}

.cropit-preview-background {
  opacity: .2;
  cursor: auto;
}

.image-size-label {
  margin-top: 10px;
}

input, .export {
  /* Use relative position to prevent from being covered by image background */
  position: relative;
  z-index: 10;
  display: block;
}

button {
  margin-top: 10px;
}

#backdrop{
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: unset; 
        padding-top: 30px;
        height: 450px;
        margin-top: -30px;  
        left:     0;
        right:    0;
        top:      0;
        opacity:  0.8;
        z-index: -1;
        position: absolute;    
}
.white_bar{
    background-color: white;
    height: 40px;
    margin-top: 20%;
    z-index: -1;
}
.categories_box{
    margin-top: 80px;
}
#poster{
        z-index: 5; 
        margin-top:130px;
        max-height: 325px;
        max-width: 200px;
        border-radius: 3px;
}
.black{
    color: #474747;
    font-family: "DejaVu Sans";
    font-size: 12px;
}

.up{
    margin-top: -78px;
    height: 50px;
}
.trans{
     z-index: -1;
}
.bol{
    z-index: 2;
}

#notification_li{
    position:relative
        }
        
#notificationContainer {
        background-color: #fff;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        overflow: visible;
        position: absolute;
        top: 30px;
        margin-left: -170px;
        width: 400px;
        z-index: 2;
        display: none;
}
#notificationContainer:before {

            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            color: transparent;
            border: 10px solid black;
            border-color: transparent transparent white;
            margin-top: -20px;
            margin-left: 188px;
}

#notificationTitle {
        z-index: 1000;
        font-weight: bold;
        text-align: center;
        padding: 8px;
        font-size: 13px;
        background-color: #ffffff;
        width: 384px;
        border-bottom: 1px solid #dddddd;
}
#notificationsBody {
        height: 2px;
       
        padding: 33px 0px 0px 0px !important;
        min-height:300px;
}
#notificationFooter {
        background-color: #e9eaed;
        text-align: center;
        font-weight: bold;
        padding: 8px;
        font-size: 12px;
        border-top: 1px solid #dddddd;
}
#notification_count {
        padding: 3px 7px 3px 7px;
        background: #cc0000;
        color: #ffffff;
        font-weight: bold;
        margin-left: 77px;
        border-radius: 9px;
        position: absolute;
        margin-top: -11px;
        font-size: 11px;
}
        .noti2{
                
        align-content: center;
        background-color: white;
        width: 400px; 
        height: 65px;
        float: right;
   
  
}
    
        #noti2{
        padding-bottom: 30px;
        margin-top: -30px;
            
        }
        .ago{
        top: -20px;
        font-size: 10px;
        margin-bottom: 20px;
        color: darkgrey;
        }

/*
******************
*
*       
******************
*/

.search{
    border: none;
    outline: none;
}

/*
***********************
*
*
***************/

                      
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; 
    bottom: 30px; 
}

#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.show {
    opacity: 0.3;
}

.transition {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/*
******************************
*                            *
*                            * 
*                            *
*    HERE IS STYLING FOR     *
*      MOVIE.NLADE.PHP       *
*                            *
*                            *
******************************
*/
.statistics{
    padding: 2%;
}
.movie_details{
    padding: 10px;
}
.img{
    margin-left: -1%;
}
.undelined{
    text-decoration: underline;
}
.borderd{
    border-radius: 2px;
    border-color: black;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.movie_container{
    margin-left: 2%;
    margin-right: 2%
}
.small{
    margin-top: -2%;
    margin-bottom: 3%;
    padding-bottom: 2%;
}
.rounded{
        border-radius: 2px;
        background-color: white;
        padding-top: 10px;margin-left: -20px; padding-bottom:10px;
        margin: 0.5%;
        
    }
.no_margin_bottom{
    margin-bottom: 0%;
    font-size: 30px;
    margin-top: -0px;
}
#dropdownMenu1{
    margin-left: -40px;
    margin-top:  -25px;
}
#post{
    /* this is the post body */
    margin-top: 0.5%;padding-top: 0.5%;
    font-size: 90%;
    background-color: white;
}
#posts{
    background-color: white;
 
}
.write{
    background-color:;
}
.post_container{
    padding-bottom: 2%; margin-bottom: 10%;
}

/*
*******************
*
* List.blade.php
*********************1
*/

.bar{
    background-color: #f9fafa;
    border-bottom: #f9fafa;
    width: 100%;
    text-align: center;
    padding: 1.5%;
    margin-bottom: 0px;
}
.one_list_tag{
    width: 100%;
    background-color: white;
    margin-top: 0px;
    
}
.search_bar{
    min-height: 250px;
    margin-bottom: auto;
}
.search_bar_label{
    font-size: 24px;
    color: #8c8c8c
}
.hr_no_margin{
    margin: 2px;;
}
/****************
SEARCH A MOVIE 
***********/

.main_heading{
    bottom: 50px;
}
.margin-xm{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
}
.margin-xs{
    margin-top: 4px;
    
}
movie_name{
    font-size: 10px;
    pointer-events: none;
    cursor: default;
}
.custom_card{
        border-radius: 5px;
        background-color: white;
        width: 120px;
        min-height: 225px;
        float: left;
        margin: 5px;
        overflow: hidden;
        margin-bottom: 20px;
}

.custom_font{
  font-family: Arial, Helvetica, sans-serif;
}
.list_tag{
    margin-top: 4px;
}
.center{
       width: 50%;
    margin: 0 auto; 
}
.panel-body{
    padding: 0;
}
.last_updates{
    margin-top: 4px;
}
.no_anchor{
     
    cursor: default;
    color: darkgrey
}
#white_blank_space{
    margin-bottom: 59px;
    background-color: white;
    height: 95px;
    z-index: -2;
   
}
.landing{
    margin-top:
    margin-bottom: -24px;
}
.trailer{
    max-height: 120px;
    max-width: 350px;
}
.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
}

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 22px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}


div.tab {
    overflow: hidden;
    margin-top: -37px;

}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 11px 11px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */
div.tab button.active {
    background-color: #bcbcbc;
}

.app-img-wrapper {
  position: sticky;
  display: inline-block;
}

.app-img-link:hover:before {
  opacity: 1;
}

.app-img-link:hover .app-img-text {
    top: 75%;
    content: 'fdsfds';
    transition: background 1s, color .5s;
}

.app-img {
  display: block;
  max-width: 235px;
}


.app-img-text {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  content: 'Click to view info';
  margin: 0;
  justify-content: bottom;
  align-items: bottom;
  transition: background .5s, color .5s, opacity .5s;
}

.app-img-text:before {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  content: 'Click to view info';
  color: white;
  display: flex;
 
  transition: opacity .5s;
  opacity: 0;
}

#header{
 
  opacity: 0.9;
  overflow: hidden;
  height: 400px;
   background: #5C97FF; 
   margin-bottom: 60px;
   margin-top: -25px;

}

#container{
  z-index: 1;
 
}

#user{
  margin-top: 230px;
  height: 100px;
  overflow-wrap: 

}

.sample{
  max-width: 150px;
  margin: 2px;
  padding: 2px; 
}
.favs{
  max-width: 84px;
    margin: 2px;
  padding: 2px;
}
.event_container{
  background-color: white;
  margin :20px;
   font-family: "Times New Roman", Times, serif;

}

.event_container a{
  color: #10445e;

    text-decoration: none;
}
.hd{
position: fixed;
    width: 100%;
    z-index: 1;
}
.vertical{    border:         none;

    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100px;
    width:          1px;  

  }
  .action_taken{
    margin-top: 60px;

  }

  .usr_pic{
    max-width: 35px;
    max-height: 30px;
  }

  .no_margin{
    margin: -3px
  }
.title{
    font-size: 17px;
    font-family: "DejaVu Sans";
}