.rating i.fa {
     font-size: 32px;
    color: gold;
    float: none;
    margin: 0 auto;
}

.rating{
    
 border-radius: 10px;
    border: 2px solid #f2f2f2;
    padding: 5px;
    padding-left: 5px;
    width: 200px;
   
}
.center-block{
    display: block;
    margin: 0 auto;
}
.fa-circle-o-notch{
    color: black;
}

/*
LOAD MORE
*/

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}